@model List<BlogAspNet.Models.Post>

@{

    ViewData["Title"] = "Página Inicial";
}

<div class="">
    <h1 class="display-4">Bem vindo!</h1>
    
    <div class="container-fluid">
        
        @foreach (var post in Model)
        {
            <div class="post-box m-3">
                <div class="p-3">
                    <a asp-controller="Post" asp-action="Editar" asp-route-id="@post.Id" class="float-right">Editar</a> <br />
                    <a asp-controller="Post" asp-action="Excluir" asp-route-id="@post.Id" class="float-right">Excluir</a>
                    <h3>@post.Titulo</h3>

                    @{

                        var texto = new System.Text.StringBuilder();

                        for (int i = 0; i < 50; i++)
                        {
                            texto.Append(post.Texto[i]);
                        }

                        texto.Append('.');
                        texto.Append('.');
                        texto.Append('.');

                        post.Texto = texto.ToString();
                    }

                    <p>@post.Texto</p>

                    <a asp-controller="Post" asp-action="Details" asp-route-id="@post.Id" class="">Ver detalhes...</a>

                </div>
            </div>
        }

    </div>

</div>
